# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
#if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
#  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
#fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
#[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# load brew shell completions before ohmyzsh
if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
fi

# ohmyzsh
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
plugins=(git vagrant docker docker-compose conda)
source $ZSH/oh-my-zsh.sh

# disable auto title
DISABLE_AUTO_TITLE=true

# starship
#eval "$(starship init zsh)"

# zoxide
eval "$(zoxide init zsh)"

# alias
alias eza="eza --icons --git"
alias l="eza"
alias ll="eza -l"
alias lla="eza -la"
alias lg="lazygit"
alias ld="lazydocker"
#alias cat="bat"
#alias vim="nvim"
alias sc="sc-im"
alias pn="pnpm"
alias ws="webstorm"

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
#export FZF_DEFAULT_OPTS=" \
#--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
#--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
#--color=marker:#b4befe,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8 \
#--color=selected-bg:#45475a \
#--multi"
export FZF_CTRL_T_COMMAND=""

# chezmoi template ######################################################################

{{ if eq .chezmoi.os "darwin" }}

# pyenv
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'

# sublime
export PATH="/Applications/Sublime Text.app/Contents/SharedSupport/bin:$PATH"

# brew path
export PATH="/usr/local/sbin:$PATH"
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"

# fnm
eval "$(fnm env --use-on-cd)"

export ZPLUG_HOME=$HOMEBREW_PREFIX/opt/zplug

# android and java
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/platform-tools
#export JAVA_HOME="/Library/Java/JavaVirtualMachines/temurin-22.jdk/Contents/Home"
export JAVA_HOME=/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home

# bun
[ -s "/Users/mukhlis/.bun/_bun" ] && source "/Users/mukhlis/.bun/_bun"
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# pnpm
export PNPM_HOME="/Users/mukhlis/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac

{{ else if eq .chezmoi.os "android" }}

export ZPLUG_HOME=/data/data/com.termux/files/home/.zplug

# fnm
FNM_PATH="/data/data/com.termux/files/home/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="/data/data/com.termux/files/home/.local/share/fnm:$PATH"
  eval "`fnm env`"
fi

{{ end }}

#########################################################################################

## zplug ############################################################

source $ZPLUG_HOME/init.zsh
zplug "zsh-users/zsh-syntax-highlighting"
zplug "zsh-users/zsh-autosuggestions"
zplug "zsh-users/zsh-completions"
#zplug "jeffreytse/zsh-vi-mode"
#zplug romkatv/powerlevel10k, as:theme, depth:1

# theme
#zplug "miekg/lean"
#zplug "jackharrisonsherlock/common", as:theme
#zplug "mafredri/zsh-async", from:github
#zplug "sindresorhus/pure", use:pure.zsh, from:github, as:theme
#zplug "win0err/aphrodite-terminal-theme", as:theme
#zplug "akz92/clean", as:theme
#zplug "gdsrosa/minimal_improved", as:theme
#zplug "andrepolischuk/neat"
#zplug "themes/robbyrussell", from:oh-my-zsh, as:theme
#zplug "themes/clean", from:oh-my-zsh, as:theme
#zplug "agkozak/agkozak-zsh-prompt"
#zplug "nicolodiamante/simple"

# Install plugins if there are plugins that have not been installed
if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi
zplug load

#######################################################################

# lazygit
export XDG_CONFIG_HOME="$HOME/.config"
#export LG_CONFIG_FILE="/Users/mukhlis/.config/lazygit/config.yml,/Users/mukhlis/.config/lazygit/catppuccin-mocha-red.yml"

# change def editor
export EDITOR=vim

# yazi cd
function yy() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

export CONDA_AUTO_ACTIVATE_BASE=false

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/opt/homebrew/Caskroom/miniconda/base/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/opt/homebrew/Caskroom/miniconda/base/etc/profile.d/conda.sh" ]; then
        . "/opt/homebrew/Caskroom/miniconda/base/etc/profile.d/conda.sh"
    else
        export PATH="/opt/homebrew/Caskroom/miniconda/base/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

