<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIFeatureFunctionCalling</key>
	<true/>
	<key>AIFeatureHostedCodeInterpeter</key>
	<true/>
	<key>AIFeatureHostedFileSearch</key>
	<true/>
	<key>AIFeatureHostedWebSearch</key>
	<true/>
	<key>AIFeatureStreamingResponses</key>
	<true/>
	<key>AITermAPI</key>
	<integer>2</integer>
	<key>AIVectorStore</key>
	<integer>0</integer>
	<key>AiMaxTokens</key>
	<integer>400000</integer>
	<key>AiModel</key>
	<string>gpt-5.1</string>
	<key>AiResponseMaxTokens</key>
	<integer>128000</integer>
	<key>AitermURL</key>
	<string>https://api.openai.com/v1/responses</string>
	<key>ClickToSelectCommand</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>GitHub Light Default</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18206581473350525</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.16017219424247742</real>
				<key>Red Component</key>
				<real>0.14485713839530945</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21115797758102417</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.20965316891670227</real>
				<key>Red Component</key>
				<real>0.74579966068267822</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24861544370651245</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.49069207906723022</real>
				<key>Red Component</key>
				<real>0.2379353940486908</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.067312739789485931</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.24225610494613647</real>
				<key>Red Component</key>
				<real>0.36658042669296265</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96834570169448853</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.53719538450241089</real>
				<key>Red Component</key>
				<real>0.2679649293422699</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94612139463424683</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.46645748615264893</real>
				<key>Red Component</key>
				<real>0.61548173427581787</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.6556054949760437</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.5647207498550415</real>
				<key>Red Component</key>
				<real>0.30611526966094971</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.61961346864700317</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.58318406343460083</real>
				<key>Red Component</key>
				<real>0.55549734830856323</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18740922212600708</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.38232347369194031</real>
				<key>Red Component</key>
				<real>0.1783827543258667</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.040899887681007385</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.18222889304161072</real>
				<key>Red Component</key>
				<real>0.28427839279174805</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.82589906454086304</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.40535342693328857</real>
				<key>Red Component</key>
				<real>0.18046358227729797</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84422671794891357</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.3226495087146759</real>
				<key>Red Component</key>
				<real>0.48209881782531738</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50791329145431519</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.47912329435348511</real>
				<key>Red Component</key>
				<real>0.234272301197052</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50200706720352173</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.46554684638977051</real>
				<key>Red Component</key>
				<real>0.4379006028175354</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41185569763183594</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.37536171078681946</real>
				<key>Red Component</key>
				<real>0.34776318073272705</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1691950261592865</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13615605235099792</real>
				<key>Red Component</key>
				<real>0.58920824527740479</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97956210374832153</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97228962182998657</real>
				<key>Red Component</key>
				<real>0.96610492467880249</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.44781291484832764</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.5344090461730957</real>
				<key>Red Component</key>
				<real>0.91564536094665527</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1549888551235199</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13676199316978455</real>
				<key>Red Component</key>
				<real>0.1244957223534584</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.85490196943283081</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.4117647111415863</real>
				<key>Red Component</key>
				<real>0.035294119268655777</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.019607843137254902</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.9686274528503418</real>
				<key>Red Component</key>
				<real>0.96470588445663452</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1549888551235199</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13676199316978455</real>
				<key>Red Component</key>
				<real>0.1244957223534584</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.82589906454086304</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.40535342693328857</real>
				<key>Red Component</key>
				<real>0.18046358227729797</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.52941179275512695</real>
				<key>Red Component</key>
				<real>0.74901962280273438</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1549888551235199</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13676199316978455</real>
				<key>Red Component</key>
				<real>0.1244957223534584</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98506206274032593</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.83450955152511597</real>
				<key>Red Component</key>
				<real>0.71050447225570679</real>
			</dict>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98382419347763062</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97809094190597534</real>
				<key>Red Component</key>
				<real>0.97295492887496948</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>6CC95397-27C5-44DA-B586-4C3A7B781381</string>
	<key>Default Browser Profile Guid</key>
	<string>6CC95397-27C5-44DA-B586-4C3A7B781381</string>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18206581473350525</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.16017219424247742</real>
				<key>Red Component</key>
				<real>0.14485713839530945</real>
			</dict>
			<key>Ansi 0 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.011764705882352941</real>
				<key>Red Component</key>
				<real>0.035294117647058823</real>
			</dict>
			<key>Ansi 0 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.011764705882352941</real>
				<key>Red Component</key>
				<real>0.035294117647058823</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21115797758102417</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.20965316891670227</real>
				<key>Red Component</key>
				<real>0.74579966068267822</real>
			</dict>
			<key>Ansi 1 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12549019607843137</real>
				<key>Green Component</key>
				<real>0.17647058823529413</real>
				<key>Red Component</key>
				<real>0.85882352941176465</real>
			</dict>
			<key>Ansi 1 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12549019607843137</real>
				<key>Green Component</key>
				<real>0.17647058823529413</real>
				<key>Red Component</key>
				<real>0.85882352941176465</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24861544370651245</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.49069207906723022</real>
				<key>Red Component</key>
				<real>0.2379353940486908</real>
			</dict>
			<key>Ansi 10 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Green Component</key>
				<real>0.20392156862745098</real>
				<key>Red Component</key>
				<real>0.22745098039215686</real>
			</dict>
			<key>Ansi 10 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19607843137254902</real>
				<key>Green Component</key>
				<real>0.20392156862745098</real>
				<key>Red Component</key>
				<real>0.22745098039215686</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.067312739789485931</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.24225610494613647</real>
				<key>Red Component</key>
				<real>0.36658042669296265</real>
			</dict>
			<key>Ansi 11 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Ansi 11 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96834570169448853</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.53719538450241089</real>
				<key>Red Component</key>
				<real>0.2679649293422699</real>
			</dict>
			<key>Ansi 12 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.48627450980392156</real>
				<key>Green Component</key>
				<real>0.49019607843137253</real>
				<key>Red Component</key>
				<real>0.50196078431372548</real>
			</dict>
			<key>Ansi 12 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.48627450980392156</real>
				<key>Green Component</key>
				<real>0.49019607843137253</real>
				<key>Red Component</key>
				<real>0.50196078431372548</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94612139463424683</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.46645748615264893</real>
				<key>Red Component</key>
				<real>0.61548173427581787</real>
			</dict>
			<key>Ansi 13 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83137254901960789</real>
				<key>Green Component</key>
				<real>0.83529411764705885</real>
				<key>Red Component</key>
				<real>0.83921568627450982</real>
			</dict>
			<key>Ansi 13 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83137254901960789</real>
				<key>Green Component</key>
				<real>0.83529411764705885</real>
				<key>Red Component</key>
				<real>0.83921568627450982</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.6556054949760437</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.5647207498550415</real>
				<key>Red Component</key>
				<real>0.30611526966094971</real>
			</dict>
			<key>Ansi 14 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019607843138</real>
				<key>Green Component</key>
				<real>0.6705882352941176</real>
				<key>Red Component</key>
				<real>0.80392156862745101</real>
			</dict>
			<key>Ansi 14 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32549019607843138</real>
				<key>Green Component</key>
				<real>0.6705882352941176</real>
				<key>Red Component</key>
				<real>0.80392156862745101</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.61961346864700317</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.58318406343460083</real>
				<key>Red Component</key>
				<real>0.55549734830856323</real>
			</dict>
			<key>Ansi 15 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Ansi 15 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18740922212600708</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.38232347369194031</real>
				<key>Red Component</key>
				<real>0.1783827543258667</real>
			</dict>
			<key>Ansi 2 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32156862745098042</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.0039215686274509803</real>
			</dict>
			<key>Ansi 2 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.32156862745098042</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.0039215686274509803</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.040899887681007385</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.18222889304161072</real>
				<key>Red Component</key>
				<real>0.28427839279174805</real>
			</dict>
			<key>Ansi 3 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0078431372549019607</real>
				<key>Green Component</key>
				<real>0.92941176470588238</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 3 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0078431372549019607</real>
				<key>Green Component</key>
				<real>0.92941176470588238</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.82589906454086304</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.40535342693328857</real>
				<key>Red Component</key>
				<real>0.18046358227729797</real>
			</dict>
			<key>Ansi 4 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89411764705882357</real>
				<key>Green Component</key>
				<real>0.62745098039215685</real>
				<key>Red Component</key>
				<real>0.0039215686274509803</real>
			</dict>
			<key>Ansi 4 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89411764705882357</real>
				<key>Green Component</key>
				<real>0.62745098039215685</real>
				<key>Red Component</key>
				<real>0.0039215686274509803</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84422671794891357</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.3226495087146759</real>
				<key>Red Component</key>
				<real>0.48209881782531738</real>
			</dict>
			<key>Ansi 5 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58039215686274515</real>
				<key>Green Component</key>
				<real>0.41568627450980394</real>
				<key>Red Component</key>
				<real>0.63137254901960782</real>
			</dict>
			<key>Ansi 5 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58039215686274515</real>
				<key>Green Component</key>
				<real>0.41568627450980394</real>
				<key>Red Component</key>
				<real>0.63137254901960782</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50791329145431519</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.47912329435348511</real>
				<key>Red Component</key>
				<real>0.234272301197052</real>
			</dict>
			<key>Ansi 6 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95686274509803926</real>
				<key>Green Component</key>
				<real>0.89411764705882357</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 6 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95686274509803926</real>
				<key>Green Component</key>
				<real>0.89411764705882357</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50200706720352173</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.46554684638977051</real>
				<key>Red Component</key>
				<real>0.4379006028175354</real>
			</dict>
			<key>Ansi 7 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63529411764705879</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Ansi 7 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63529411764705879</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41185569763183594</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.37536171078681946</real>
				<key>Red Component</key>
				<real>0.34776318073272705</real>
			</dict>
			<key>Ansi 8 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.34509803921568627</real>
				<key>Red Component</key>
				<real>0.36078431372549019</real>
			</dict>
			<key>Ansi 8 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.34509803921568627</real>
				<key>Red Component</key>
				<real>0.36078431372549019</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1691950261592865</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13615605235099792</real>
				<key>Red Component</key>
				<real>0.58920824527740479</real>
			</dict>
			<key>Ansi 9 Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568627450980391</real>
				<key>Green Component</key>
				<real>0.73333333333333328</real>
				<key>Red Component</key>
				<real>0.90980392156862744</real>
			</dict>
			<key>Ansi 9 Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81568627450980391</real>
				<key>Green Component</key>
				<real>0.73333333333333328</real>
				<key>Red Component</key>
				<real>0.90980392156862744</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97956210374832153</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97228962182998657</real>
				<key>Red Component</key>
				<real>0.96610492467880249</real>
			</dict>
			<key>Background Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Background Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.44781291484832764</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.5344090461730957</real>
				<key>Red Component</key>
				<real>0.91564536094665527</real>
			</dict>
			<key>Badge Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Badge Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1549888551235199</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13676199316978455</real>
				<key>Red Component</key>
				<real>0.1244957223534584</real>
			</dict>
			<key>Bold Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Bold Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Brighten Bold Text (Dark)</key>
			<true/>
			<key>Brighten Bold Text (Light)</key>
			<true/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost (Dark)</key>
			<real>0.0</real>
			<key>Cursor Boost (Light)</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.85490196943283081</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.4117647111415863</real>
				<key>Red Component</key>
				<real>0.035294119268655777</real>
			</dict>
			<key>Cursor Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Cursor Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.019607843137254902</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Cursor Guide Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Guide Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.9686274528503418</real>
				<key>Red Component</key>
				<real>0.96470588445663452</real>
			</dict>
			<key>Cursor Text Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Cursor Text Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.96862745098039216</real>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96862745098039216</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Custom Locale</key>
			<string>en_US.UTF-8</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Faint Text Alpha (Dark)</key>
			<real>0.5</real>
			<key>Faint Text Alpha (Light)</key>
			<real>0.5</real>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1549888551235199</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13676199316978455</real>
				<key>Red Component</key>
				<real>0.1244957223534584</real>
			</dict>
			<key>Foreground Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Foreground Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Guid</key>
			<string>6CC95397-27C5-44DA-B586-4C3A7B781381</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>0</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x7f-0x100000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x15</string>
				</dict>
				<key>0x7f-0x80000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x7f</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>b</string>
				</dict>
				<key>0xf702-0x300000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>f</string>
				</dict>
				<key>0xf703-0x300000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x5</string>
				</dict>
				<key>0xf728-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x4</string>
				</dict>
				<key>0xf728-0x80000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>d</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.82589906454086304</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.40535342693328857</real>
				<key>Red Component</key>
				<real>0.18046358227729797</real>
			</dict>
			<key>Link Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7093239426612854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.35333043336868286</real>
				<key>Red Component</key>
				<real>0.14513972401618958</real>
			</dict>
			<key>Link Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7093239426612854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.35333043336868286</real>
				<key>Red Component</key>
				<real>0.14513972401618958</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.52941179275512695</real>
				<key>Red Component</key>
				<real>0.74901962280273438</real>
			</dict>
			<key>Match Background Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32116127014160156</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98600882291793823</real>
				<key>Red Component</key>
				<real>0.99697142839431763</real>
			</dict>
			<key>Match Background Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32116127014160156</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98600882291793823</real>
				<key>Red Component</key>
				<real>0.99697142839431763</real>
			</dict>
			<key>Minimum Contrast (Dark)</key>
			<real>0.0</real>
			<key>Minimum Contrast (Light)</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>GeistMonoNFM-Regular 13</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.1549888551235199</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13676199316978455</real>
				<key>Red Component</key>
				<real>0.1244957223534584</real>
			</dict>
			<key>Selected Text Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Selected Text Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.2627450980392157</real>
				<key>Green Component</key>
				<real>0.27058823529411763</real>
				<key>Red Component</key>
				<real>0.29019607843137257</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98506206274032593</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.83450955152511597</real>
				<key>Red Component</key>
				<real>0.71050447225570679</real>
			</dict>
			<key>Selection Color (Dark)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63529411764705879</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Selection Color (Light)</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63529411764705879</real>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Set Local Environment Vars</key>
			<integer>2</integer>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<false/>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color (Dark)</key>
			<false/>
			<key>Smart Cursor Color (Light)</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98382419347763062</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97809094190597534</real>
				<key>Red Component</key>
				<real>0.97295492887496948</real>
			</dict>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Bright Bold (Dark)</key>
			<true/>
			<key>Use Bright Bold (Light)</key>
			<true/>
			<key>Use Cursor Guide (Dark)</key>
			<false/>
			<key>Use Cursor Guide (Light)</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Selected Text Color (Dark)</key>
			<true/>
			<key>Use Selected Text Color (Light)</key>
			<true/>
			<key>Use Separate Colors for Light and Dark Mode</key>
			<false/>
			<key>Use Tab Color (Dark)</key>
			<false/>
			<key>Use Tab Color (Light)</key>
			<false/>
			<key>Use Underline Color (Dark)</key>
			<false/>
			<key>Use Underline Color (Light)</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>15</integer>
			<key>Working Directory</key>
			<string>/Users/ghost</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>SoundForEsc</key>
	<false/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>TerminalVMargin</key>
	<integer>5</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
</dict>
</plist>
